functions

##user defined
##built in
user defined

parametrized
non parameterized
void
non void
default

In [1]:
def my_func():
    print("hello world")

In [2]:
my_func()
my_func()
my_func()
my_func()

hello world
hello world
hello world
hello world

In [3]:
def sum(num1,num2):
    print(num1+num2)

In [4]:
sum(6,8)

14

In [6]:
##subjectivity
##polarity
##twitter sentiment analysis

In [5]:
def name(fname):
    print('hello',fname)

In [6]:
name("apoorva")

hello apoorva

In [7]:

def avg(num1,num2,num3):
    print(num1+num2+num3)

In [8]:
avg(5,5,5)

15

In [9]:
def func(x):
    return 5*x

a=func(3)
print(a)

15

In [10]:
def my_country(country="india"):
    print("i am from",country)

my_country('usa')
my_country("australia")
my_country("newzealand")
my_country()

i am from usa
i am from australia
i am from newzealand
i am from india

built in methods

In [11]:
import math

In [14]:
print(math.sqrt(16))
print(math.pow(2,3))
print(math.pi)
print(math.e)
print(math.factorial(5))
print(math.gcd(12,15))
print(math.sin(90))
print(math.cos(90))
print(math.tan(90))
print(math.lcm(12,15))
print(math.log(10))

4.0
8.0
3.141592653589793
2.718281828459045
120
3
0.8939966636005579
-0.4480736161291701
-1.995200412208242
60
2.302585092994046

In [12]:
from random import random ,randint,choice,shuffle

In [13]:
print('get a random number between 0 and 1: ',random())
print('get a random number between 1 and 100: ',randint(1,100))
print('get a random number from a list : ',choice([1,2,3,4,5]))
names=['apoorva,kavya,ayushi,divya']
shuffle(names)
print('shuffle a list:',names)

get a random number between 0 and 1:  0.13377953708193102
get a random number between 1 and 100:  71
get a random number from a list :  1
shuffle a list: ['apoorva,kavya,ayushi,divya']

In [14]:
from datetime import datetime as dt
##dt is short form
##used mostly for games

In [18]:
print('current date and time :',dt.now())
print('current date :',dt.now().date())
print('current time :',dt.now(),dt.time())
print('current year: ',dt.now(),dt.year())
print('current month:',dt.now(),dt.month())
print('current day:',dt.now(),dt.day())
print('current hour:',dt.now(),dt.hour())
print('current minute:',dt.now(),dt.minute())
print('current second:',dt.now(),dt.second())
print('current microsecond:',dt.now(),dt.month())

current date and time : 2025-03-04 23:28:14.927622
current date : 2025-03-04

TypeError: unbound method datetime.time() needs an argument

In [15]:
date= dt.strftime(dt.now(),'%d-%m-%y')
print('date in dd-mm-yyyy format :',date)

date in dd-mm-yyyy format : 04-03-25

In [16]:
time=dt.strftime(dt.now(),'%H:%M:%S')
print('time in 24 hour format:',time)

time in 24 hour format: 23:29:27

In [ ]:
import os
##folder dhundhne me help krta h

In [18]:
print('current working directory:',os.getcwd())

NameError: name 'os' is not defined

In [19]:
files = os.listdir()
print('[files in current directory]')
print(len(files),'files found')
## is for identification
## poora path = absolute path

NameError: name 'os' is not defined

In [20]:
os.walk('c:')
##module

NameError: name 'os' is not defined

In [ ]:
total_files =0 
for path,folders,files in os.walk():
    total

user defined function

In [21]:
def apoorva():
    print("my name is apoorva")
apoorva()

my name is apoorva

In [22]:
def my_function():
    print("hello class")
    print("we are learning")
my_function()

hello class
we are learning

In [23]:
def contact():
    print("contact details of school")
    print("delhi public school")
    print("banglore karnataka")
    print("7897558318")
    print("apoorvaasthana48@gamil.com")

In [29]:
for i in range(4):
    a=input("name of student")
    b=int(input("enter marks of maths"))
    c=int(input("enter marks of hindi"))
    d=int(input("enter marks of geography"))
    print("\nstudent name:",a)
    print("marks-maths:",b,"hindi:",c,"geography:",d)
    contact()

student name: apoorva
marks-maths: 89 hindi: 90 geography: 90
contact details of school
delhi public school
banglore karnataka
7897558318
apoorvaasthana48@gamil.com

student name: apoorva
marks-maths: 90 hindi: 90 geography: 90
contact details of school
delhi public school
banglore karnataka
7897558318
apoorvaasthana48@gamil.com

student name: aryan
marks-maths: 78 hindi: 78 geography: 78
contact details of school
delhi public school
banglore karnataka
7897558318
apoorvaasthana48@gamil.com

student name: beena
marks-maths: 78 hindi: 78 geography: 78
contact details of school
delhi public school
banglore karnataka
7897558318
apoorvaasthana48@gamil.com

arguments means information ko pass krna

In [42]:
def my_function(fname,lname):
    print(fname+" "+lname)

In [35]:
my_function("apoorva")

apoorva asthana

In [36]:
my_function("divya")

divya asthana

In [ ]:
def my_function()

In [43]:
my_function("apoorva","asthana")

apoorva asthana

In [50]:
def sum(a,b):
    print(a+b)
def sub(c,d):
    print(c-d)

In [46]:
sum(9,78)

87

In [52]:
sub(90,80)

10

electricity

In [8]:
def electricity_bill(n, user):
    if n<=500:
        print(f"{user},your bill :,{n*5}")
    elif n>500 and n<=700:
        print(f"{user},your bill : ,{n*10}")    
    elif n>700 and n<=1000:
        print(f"{user},your bill:,{n*15}")
    elif n>1000:
           print(f"{user},your bill :,{n*20}")

In [9]:
for  i in range(3):
    user=input("enter user name: ")
    n=int(input("enter electricity used:"))
    electricity_bill(n,user)

aryan,your bill :,2250
beena,your bill : ,6000
apoorva,your bill:,13500

In [ ]:
def electricity_bill(n, user):
    if n <= 500:
        print(f"{user}, your bill: {n * 5}")
    elif 500 < n <= 700:
        print(f"{user}, your bill: {n * 10}")
    elif 700 < n <= 1000:
        print(f"{user}, your bill: {n * 15}")
    elif n > 1000:
        print(f"{user}, your bill: {n * 20}")

for i in range(3):
    user = input("Enter the name of user: ")
    n = int(input("Enter the unit of electricity used: "))
    electricity_bill(n,
                     user)

apoorva, your bill: 2500
aryan, your bill: 13500
beena789, your bill: 12000