In [2]:
for i in range(1,11):
    print(i)
    ## numbers from 1 to 10

1
2
3
4
5
6
7
8
9
10

In [3]:
n = int(input("enter the number"))
for i in range(1,11,1):
    print(n," * ",i,"=",n*i)

5  *  1 = 5
5  *  2 = 10
5  *  3 = 15
5  *  4 = 20
5  *  5 = 25
5  *  6 = 30
5  *  7 = 35
5  *  8 = 40
5  *  9 = 45
5  *  10 = 50

In [4]:
n = int(input("enter number"))
x=1
while x<=10:
    print(n*x)
    x=x+1
##table of number

6
12
18
24
30
36
42
48
54
60

In [9]:
sum=0
for i in range(1,101,1):
    if i%2==0:
        sum=sum+i
print(sum)

2550

In [ ]:
n = int(input("enter the number"))
fact=1
for i in range(1,n+1):
    fact=fact*i
print(fact)
## factorial of a number
##loop k bahar ka mtlb h vo sbase last me execute hoga khali execute hoga

40320

In [15]:
## fibonacci series
n = int(input("enter the number"))
a = 0
b = 1
for i in range(1,n+1):
    c = a+b
    a = b 
    b = c
    print(c)

1
2
3
5
8
13
21

In [5]:
##reverse a string
name=input("enter string")
print("original string is :",name)
r_name=""
count=len(name)
while count>0:
    r_name=r_name+name[count-1]
    count=count-1
    print(r_name)

original string is : apoorva
a
av
avr
avro
avroo
avroop
avroopa

In [6]:
name=input("enter string")
print("original string is :",name)
r_name=""
count=len(name)
while count>0:
    r_name=r_name+name[count-1]
    count=count-1
print(r_name)

original string is : apoorva
avroopa

In [11]:
## avaerage of list of numbers using for loop
list=[1,2,3,4]
sum=0
length=0
for i in list:
    sum=sum+i                                   
    length=length+1
print(sum/length)

2.5

In [19]:
##sum of a digits of a number using for loop
n=input("enter the number")
sum=0
for i in range(0,len(n)):
    sum=sum+int(n[i])
print(sum)

6

In [ ]:
## Write a program to print the multiplication table of numbers from 1 to 5 using a for loop.

In [ ]:
## Write a program to count the number of vowels in a given string using a for loop.

In [ ]:
 ##Write a program to check if a given list of years has a leap year using a while loop.

concept of loops 
while loop

In [1]:
i=1
n=5
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [4]:
n=int(input("enter number"))
i=1
while i<=10:
    m=n*i
    i=i+1
    print(m)

98
196
294
392
490
588
686
784
882
980

In [6]:
n=int(input("enter number"))
i=1
while i<=10:
    print(n*i)
    i=i+1
print("this is the multiplication table")

87
174
261
348
435
522
609
696
783
870
this is the multiplication table

In [8]:
count=0
while count<=16:
    print("hello students")
    count=count+1

hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students

using else statement im the while loop

In [9]:
count=0
while count<=16:
    print("hello students")
    count=count+1
else:
    print("this is else block")

hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
this is else block

In [10]:
fruits=["apple","banana","cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

looping through a string

In [11]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [16]:
for x in range(25):
    print(x)
    ## range fun n-1 tk chalta h

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24